<!-- include ../../../lib/input/input-text_with-button/_mix-input-text_with-button -->
<!-- +input-text_with-button('text', '', 'This is pretty awesome') -->
.input_text
  input(placeholder='This is pretty awesome')