input(type='text' class='datepicker-here' data-multiple-dates-separator='-' data-range='true' data-position='bottom right' placeholder='19 авг - 23 авг' id='my-calendar' autocomplete='off')

<!-- autocomplete='off' убирает выпадающий список ранее введенных дат  -->
