/*PerfectPixel: 8 968 */
@import '../../lib/var';
@import '../../lib/styleText';
@import '../../lib/fonts';
@import '../../lib/fields/_Field_text';
@import '../../lib/fields/_field__text_text';
@import '../_mixPageIconPad';
@import '../../lib/fields/item-quantity-dropdownGuest/item-quantity-dropdownGuest';
@import '../../lib/fields/item-quantity-dropdownRoom/item-quantity-dropdownRoom';
@import '../../lib/fields/_field__text_dropdownR';
@import '../../lib/fields/_field__text_dropdownG';



.formElements{
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	background:yellow;/*$PageBackground;*/
	width:$SheetWidth;
}
.formElements_pad-left{
	padding-left:7.1rem;
}
.formElements{
	&__pageIcon_pad{
		@include page__icon_pad;
}
	&__simplElements{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		background:green;
	}
	&__dropdowns{
		background:red;
	}
	&__lists{
		background:blue;
	}
	&__elementsIcon{
		background:gray;
	}

}
.formElements__simplElements{
	&__fields{
		background:grey;
	}
	&__complexButtons{
		background:red;
	}
	&__buttonsAnd{
		background:blue;
	}

}
.formElements__simplElements__fields{
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	
	background:$PageBackground;
	width:auto;
}
.formElements__simplElements__fields_pad{
	pad-bottom:3rem;
}
.formElements__simplElements__field{
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	width:auto;
}
.formElements__simplElements__field{
	&__input{
		background:grey;
	}
	&__text{
		background:red;
	}
	&__margin_bot{
		margin-bottom:0.8rem;
	}
	}

.formElements__dropdowns{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	background:grey;/* $PageBackground; */
	width:57.9rem;
	height:14.05rem;
	}
	.formElements__dropdown{
	/* display:flex;
	flex-direction:row;
	justify-content:space-between; */
	background:red;/* $PageBackground; */
	/* width:57.9rem; */
	}
.formElements__dropdowns_R__magR{
	margin-right:5.3rem;
}
