
.formElements
	.formElements__pageIcon_pad
		//embed(src='img/vectorBase.svg' alt='text' height="48" width="48")
		embed(src='img/vector.svg' alt='text' height="96" width="96")
	
	.formElements_pad-left
		.formElements__simplElements
			.formElements__simplElements__fields
				.formElements__simplElements__field.formElements__simplElements__field__margin_bot
					include ../../lib/fields/_field__text_text
					include ../../lib/fields/_Field_text
				.formElements__simplElements__field.formElements__simplElements__field__margin_bot
					include ../../lib/fields/_field__text_text
					include ../../lib/fields/_Field_text
				.formElements__simplElements__field.formElements__simplElements__field__margin_bot
					include ../../lib/fields/_field__text_text
					include ../../lib/fields/_Field_text
				.formElements__simplElements__field.formElements__simplElements__field__margin_bot
					include ../../lib/fields/_field__text_text
					include ../../lib/fields/_Field_text
				.formElements__simplElements__field.formElements__simplElements__field__margin_bot
					include ../../lib/fields/_field__text_text
					include ../../lib/fields/_Field_text
				.formElements__simplElements__field.formElements__simplElements__field__margin_bot
					include ../../lib/fields/_field__text_text
					include ../../lib/fields/_Field_text
				.formElements__simplElements__field.formElements__simplElements__field__margin_bot
					include ../../lib/fields/_field__text_text
					include ../../lib/fields/_Field_text
			.formElements__simplElements__complexButtons
				p complexButtons
			.formElements__simplElements__buttonsAnd
				p buttonsAnd
		.formElements__dropdowns
			.formElements__dropdown
				.field__text_dropdownR_s
					include ../../lib/fields/_field__text_dropdownR
				.formElements__dropdowns_R__magR
					include ../../lib/fields/item-quantity-dropdownRoom/item-quantity-dropdownRoom
			
			.formElements__dropdown
				.field__text_dropdownG_s
					include ../../lib/fields/_field__text_dropdownG
				include ../../lib/fields/item-quantity-dropdownGuest/item-quantity-dropdownGuest
			.formElements__dropdown
				.field__text_dropdownG_s
					include ../../lib/fields/_field__text_dropdownG
				include ../../lib/fields/item-quantity-dropdownGuest/item-quantity-dropdownGuest
		.formElements__lists
			p lists
		.formElements__elementsIcon
			p elementsIcon
