.formElements
	embed(src='img/vectorBase.svg' alt='text' height="48" width="48")
	<!-- //embed(src='img/vector.svg' alt='text' height="106" width="106") -->
	<!-- //embed(src='img/off.svg' alt='text') -->
	<!--.formElements__layout3
		.formElements__layout3__pad1
			//		Text Field	begin
			.formElements__layout3__column
				+fieldsText('Text Field', 'Default')
				+fieldText('text', 'large', 'Email')
				.formElements__layout3__pad1-bott
				+fieldsText('Text Field', 'Hover/Focus')
				+fieldText('text', 'large', 'This is pretty awesome')
				//		Text Field	end				
				.formElements__layout3__pad1-bott
				+fieldsText('dropdown', 'Default')
				+fieldTextButtonDown('button','large-button', 'Сколько гостей')
				//		Dropdown	end				
				.formElements__layout3__pad1-bott
				+fieldsText('masked text field', 'Default')
				+fieldText('date', 'large', '')
				//		Masked Text Field	end				
				.formElements__layout3__pad1-bott
				.formElements__layout3__pad1-bottDate
				//	  Date Dropdown	begin						
				.formElements__layout3
					.formElements__layoutDate-padding-right
						+fieldsText('date dropdown', '')
					+fieldsText('date dropdown', '')
				.formElements__layoutDate
					+fieldTextButtonDown('button', 'small-button', 'ДД.ММ.ГГГ')
					+fieldTextButtonDown('button', 'small-button', '19.08.2019')
				//	  Date Dropdown	end		
				.formElements__layout3__pad1-bott
				.formElements__layout3__pad1-bottDate
				+fieldsText('filter date dropdown', '')
				+fieldTextButtonDown('button','middle-button', '19авг - 23авг')
				//		Filter Date Dropdown	end	
				.formElements__layout3__pad1-bott
				.formElements__layout3__pad1-bottDate
				+fieldsText('subscription text field', '')
				+fieldTextButtonRight('button','middle-button', 'Email')
				//		Filter Date Dropdown	end
		.formElements__layout3__pad12
			.formElements__layout3__column
			.text_H3.pad-bottom CHECKBOX BUTTONS
			.formElements__layout3__pad-buttons
			+	checkboxButtons('Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)')

			
			//		Radio Buttons
			
			//.formElements__layout3__column.formElements__layout3__pad-top-text-radio
			//.text_H3.pad-bottom-raio Radio Buttons
			//+	radioButtons('Мужчина', 'Женщина')
			
			// Toggle
			
			.formElements__layout3__column.formElements__layout3__pad-top-text-toggle
			.text_H3.pad-bottom-toggle toggle
			//+	toggleButtons-svg('Получать спецпредложения')
			.pad-bottom-toggle
				+	toggleButtons('Получать спецпредложения')
			

			//-document.getElementById('check1').indeterminate = true

			p colomn2
			.formElements__layout3__pad3
			.formElements__layout3__column
			p colomn3
			.formElements__layout2
			.formElements__layout2__column
			P контейнер 2 colomn1
			
			input(type='text' class='datepicker-here' data-position='right top')
			//.datepicker-here  
			
			.formElements__layout2__column
			P контейнер 2 colomn2
			//.datepicker-here