/*PerfectPixel: 8 968 */
@import '../../lib/var';
@import '../../lib/styleText';
@import '../../lib/fonts';


.formElements{
	display:flex; 
	flex-direction:column;
	justify-content:space-between;
	background:yellow;/*$PageBackground;*/
	width:$SheetWidth;
	padding-left:1.5rem;
	padding-top:1.5rem;
}
/*.pageMarginBot{
	height:1.4925373134rem;
	color: #00ffff ;
}
.formElements__layout3{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	//padding-top: 1.6rem;141px/
}

.formElements__layout3__column{
	display: flex; 
	flex-direction: column;
}
.formElements__layoutDate{
	display: flex;
	flex-direction: row;
	flex-wrap: none;
	justify-content: space-between;
	width: $FieldTextWidth;
	padding-top: 0.1rem;
}
.formElements__layoutDate-padding-right{
	padding-right: 2.6rem;
}


.formElements__layout3__pad1{
	padding-left: 5.55rem;141px/
	padding-top: 3.1rem;143px/
}

.pad-bottom{
	//padding-left: 0.78rem;
	padding-bottom: 0.17rem;
}


.formElements__layout3__pad1-bott{
	padding-bottom: 0.85rem;227.44px-176px-18px/
}
.formElements__layout3__pad1-bottDate{
	padding-bottom: 0.9rem;
}
input[type='checkbox'] {
	display: none;
}
.formElements__layout3__pad12{
	padding-left: 6.33rem;
	padding-top: 3.1rem;143px
}
.formElements__layout3__pad-buttons{
	padding-left: 5.55rem;
	//padding-top: 3.1rem;143px
}

________________________________________Контейнер3 столбец1/

Контейнер3 столбец2
.formElements__layout3__pad2{
	padding-left: 6.3rem;141px/
	padding-top: 0.5rem;141px/
}

.formElements__layout3__pad-top-text-radio{
	padding-top: 1.1rem;143px/
}

.formElements__layout3__pad-top-text-toggle{
	padding-top: 1.7rem;143px/
}
.pad-bottom-raio{
	//padding-left: 0.78rem;
	padding-bottom: 0.5rem;
}
.pad-bottom-toggle{
	//padding-left: 0.78rem;
	padding-bottom: -3.0rem;
}

________________________________________Контейнер3 столбец2

.formElements__layout3__pad3{
	padding-left: 6.3rem;141px/
	/*padding-top: 0.5rem;141px/
}
________________________________________Контейнер3 столбец2
.formElements__layout2{
	display: flex;
	flex-direction: row;
}
.formElements__layout2__column{
	display: flex; 
	flex-direction: column;
}*/