//h1 Компоненты
.ColorsType
	.ColorsType__padVect
		embed(src='img/vector.svg' alt='text' height="96" width="96")
	//img(src='img/icon_contact1920.jpg' alt='textjpg')
	
	.ColorsType__layout
		.ColorsType__color.ColorsType__color_inner
			.ColorsType__color__layoutRectangle
				.ColorsType__color__layoutRectangle__rectangle.ColorsType__color__layoutRectangle__rectangle_dark100
				.ColorsType__color__layoutRectangle__rectangle.ColorsType__color__layoutRectangle__rectangle_dark75
				.ColorsType__color__layoutRectangle__rectangle.ColorsType__color__layoutRectangle__rectangle_dark50
				.ColorsType__color__layoutRectangle__rectangle.ColorsType__color__layoutRectangle__rectangle_dark25
				.ColorsType__color__layoutRectangle__rectangle.ColorsType__color__layoutRectangle__rectangle_dark05
				.ColorsType__color__layoutRectangle__rectangle.ColorsType__color__layoutRectangle__rectangle_purple
				.ColorsType__color__layoutRectangle__rectangle.ColorsType__color__layoutRectangle__rectangle_green
			.ColorsType__color__layoutText
				.ColorsType__color__layoutText_bold Dark Shade 100%
				.ColorsType__color__layoutText_normal #1F2041
				.ColorsType__color__layoutText_bold Dark Shade 75%
				.ColorsType__color__layoutText_normal #1F2041
				.ColorsType__color__layoutText_bold Dark Shade 50%
				.ColorsType__color__layoutText_normal #1F2041
				.ColorsType__color__layoutText_bold Dark Shade 25%
				.ColorsType__color__layoutText_normal #1F2041
				.ColorsType__color__layoutText_bold Dark Shade 5%
				.ColorsType__color__layoutText_normal #1F2041
				.ColorsType__color__layoutText_bold Purple
				.ColorsType__color__layoutText_normal #BC9CFF
				.ColorsType__color__layoutText_bold Green
				.ColorsType__color__layoutText_normal #6FCF97
		.ColorsType__type
			.ColorsType__type__style 
				.ColorsType__type__style_H1 H1
				.ColorsType__type__style_H2 H2
				.ColorsType__type__style_H3 H3
				.ColorsType__type__style_body Body				
			.ColorsType__type__text 
				.text_H1 This one is the sub-section or
				.text_H1.ColorsType__type__textpad_1 widget title
				.text_H2 Next one is the item title inside
				.text_H2.ColorsType__type__textpad_2 widgets
				.text_H3.ColorsType__type__textpad_3 This is a label or CTA text
				.ColorsType__type__layoutStyle_body
					.text_body This is the body text which is used for most of the design, like paragraphs, lists, etc.
				//.text_body of the design, like paragraphs, lists, etc.