.field-calendar__layout
	.input-calendar
		input(type='text' class='datepicker-here' data-multiple-dates-separator='-' data-range='true' data-position='bottom right' placeholder='19 авг - 23 авг')
		.field-calendar__expand_more 
			object(type='image/svg+xml' data=ffail)

