@import '../_var_field-sizes';
@import './lib/_styleText';

.layoutText_data{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-between;
	width:$Input_WithBottonShort_width;
}
.Text_fields_def50{
	color:$DarkShade50;
	text-transform:uppercase;
}
.Text_fields_def75{
	color:$DarkShade75;
	text-transform:uppercase;
}