mixin field-text_with-button(ftype, fname, fplaceholder, ffail)
	.field-date__layout
		.input-date
			input(type='data' name=fname placeholder=fplaceholder)
			.field-date__button__layout
				.field-date__expand_more 
					object(type='image/svg+xml' data=ffail  )
				.field-date__button
					button(type=ftype name='field__button')