mixin field-date_with-button(ftype, fname, fplaceholder, ffail)
	.field-date__layout
		.input-date
			
			input(type='date' name='WithBottonShort' id='datePicker' placeholder=fplaceholder)
			
			.field-date__expand_more 
				object(type='image/svg+xml' data=ffail)