
.input-text_with-button__layout{
  display:flex;
  flex-direction:row;
  align-items:center;
  width:auto;
  background:grey;
}

button{
  position:relative;
  width:1rem;
  height:1rem;
  /* height:$Button_field_size; /* высота на свое усмотрение*/
  /*width:$Button_field_size; /*ширина на свое усмотрение*/
  /*color:$DarkShade25; /*цвет шрифта в обычном состоянии*/
  /*border: 1px solid $DarkShade25;*/
  border:0px;
  background-color:$PageBackground;
  box-sizing:border-box;
  left:-10%;
  /* background:url(img/expand+more+24px.png); */
  /* border-radius:0rem $Border-radius $Border-radius 0rem; */
}

button:focus{
  /*color: $DarkShade25;
  border: 1px solid $DarkShade50;*/
  outline:0px;
}
button[name='input-text_dropdown']{
  position:relative;
  background:url(/img/expand_more-24px.svg);
}
button[name='input-text_subscription']{
  position:relative;
  background:url(/img/arrow_forward-24px.svg);
}
