mixin input_with-button(ftype, fname, fplaceholder, ffail)
  .input_with-button__layout
    .input_with-button
      input(type=ftype name=fname placeholder=fplaceholder)
    .input__icon 
        object(type='image/svg+xml' data=ffail align='middle')
