$Input__Layout_Size_Width:16.9rem;
$Input_Size_Height:2.1rem;
$Input_Size_Width:15.9rem;
$Input__Button_Size:1.0rem;

$Input_WithBotton_Size_Big_Width:13.8rem;
$Input_WithBotton_Size_Middle_Width:13.4rem;
$Input_WithBotton_Size_Short_Width:7.4rem;

$Input__Border-radius_Size:0.3rem;

/*Старые обозначения*/
$FieldLarge-buttonWidth:$Input_WithBotton_Size_Big_Width;
$FieldMiddle-buttonWidth:$Input_WithBotton_Size_Middle_Width;
$FieldSmall-buttonWidth:$Input_WithBotton_Size_Short_Width;

$Field-buttonHeight:$Input__Button_Size;
