@import '../_var_colors';
@import '../_fonts';
@import '_input-var_sizes';
/* @import './lib/input/_mix-input'; */


input{

  height:$Input_Size_Height; /* высота */
  padding-left:0.7rem;
  border:1px solid $DarkShade25;
  color:$DarkShade25; /*цвет шрифта в обычном состоянии*/
  font-family:'Montserrat'; /*Стиль шрифта*/
  border-radius:$Input__Border-radius_Size;
  font-size:0.7rem; /*Размер шрифта*/
  /* box-sizing:border-box; */
  width:100%;
}

input:focus{
  outline:none;/*Отменяет обрамление при наведении фокуса*/
  color:$DarkShade75;
  border:1px solid $DarkShade50;
}

input:hover{
  outline:none;/*Отменяет обрамление при наведении фокуса*/
 color:$DarkShade75;
  border:1px solid $DarkShade50;
}
input[type=email]:invalid {
  border: 2px dashed red;
}
/*Оформление подсказки*/
input:focus::-webkit-input-placeholder{
  color:$DarkShade50;
}

input:hover::-webkit-input-placeholder{
  color:$DarkShade50;
}
::-webkit-input-placeholder{
  color:$DarkShade25;
  font-family:'Montserrat';
}
/* input[type="text"]{ */
  /* width:$Input_Size_Width; */
/* } */