//include _mix-input_with-button
mixin mix-input_with-button(ftype, fname, fplaceholder, ffail)
	.input_with-button__layout
		input(type='text' name=fname placeholder=fplaceholder)
		.input_with-botton__botton__layout
			.expand_more 
				object(type='image/svg+xml' data=ffail  )
			.button
				button(type=ftype name='input_with-botton__botton')
