.html_base
	html(lang="ru")

		head
			meta(charset="utf-8")
			meta(name="viewport", content="width=device-width,initial-scale=1")
			//link(href = "https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"  rel = "stylesheet")
			//script(src = "https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")
			//link(rel = "stylesheet"  href = "https://fonts.googleapis.com/icon?family=Material+Icons")
			//link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
			//link(type="text/css"  href="dist/css/page.css")
			//link(type="text/javascript"  href="dist/js/page.js")
			title= "Hotel (new)"
		body 
			//.body__h Локальное использование иконок
		//include pages/page
		//.margin-rightPage.layoutPage.margin-rightPage
		//include pages/page
		.pageHear Color&Type
		include pages/UlKit/page0
		.pageHear Form Elements
		include pages/UlKit/formElements
		
		
		