
.html_base{
font-family:Montserrat;
/* font-color:; */
font-size:20px;
}
.pageHear{
	color:blue;
	font-size:1rem;
	font-weight:bold;
}

@import 'pages/UlKit/page0';
@import 'pages/UlKit/formElements';
/* @import 'pages/page'; */
