@import './pages/_page-var';
@import './pages/input/_input-var_sizes';
@import './pages/input/input';
@import './pages/input/input_text/input_text';
@import './pages/_mixPageIconPad';

@import './pages/input/input_dropdown/input_dropdown';

@import './pages/input/input_masked/input_masked';
@import './pages/input/input_date_short/input_date_short';
@import './pages/input/input_filter-date-dropdown/input_filter-date-dropdown';
@import './pages/input/input_subscription/input_subscription';
@import './lib/item-quantity-dropdownGuest/item-quantity-dropdownGuest';
@import './lib/item-quantity-dropdownRoom/item-quantity-dropdownRoom';
@import 'item-quantity-dropdownR/_input__text_dropdownR';
@import 'item-quantity-dropdownG/_input__text_dropdownG';
.formElements{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  background:yellow;/*$PageBackground;*/
  width:$SheetWidth;
  max-width:1920px;
  min-width:320px;
}
.formElements_pad-left{
  padding-left:7.1rem;
}
.formElements{
  &__pageIcon_pad{
    @include page__icon_pad;
}
  &__simplElements{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background:green;
    
  }
  &__dropdowns{
    background:red;
  }
  &__lists{
    background:blue;
  }
  &__elementsIcon{
    background:gray;
  }

}
.formElements__simplElements{
  &__inputs{
    background:grey;
  }
  &__complexButtons{
    background:red;
  }
  &__buttonsAnd{
    background:blue;
  }

}
.formElements__simplElements__inputs{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  
  /* background:$PageBackground; */
  width:$Input_Size_Width;
  }
.formElements__simplElements__inputs_pad{
  pad-bottom:3rem;
}
.formElements__simplElements__input{
  display:flex;
  flex-direction:column;
  min-width:0;/* auto не позоляет элементу сжиматься*/
  /* background:orange; */
}
.formElements__simplElements__input_date{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  max-width:$Input_Size_Width;
  /* background:blue; */
}
.formElements__simplElements__input_start
{  display:flex;
  flex-direction:column;
  min-width:0;
  align-items:flex-start;
  background:blue;}
.formElements__simplElements__input_end_first{
  align-items:flex-start;
}
.formElements__simplElements__input_end{
  align-items:flex-end;
  display:flex;
  flex-direction:column;
  min-width:0;
  background:green;
}
.formElements__simplElements__input{
  &__text{
    background:green;
  }
  &__margin_bot{
    margin-bottom:0.8rem;
    /* background:red */
  }
  &__background{
    background:red
  }
  }
  /*Field data*/


.formElements__dropdowns{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  background:grey;/* $PageBackground; */
  width:57.9rem;
  height:14.05rem;
  }
  .formElements__dropdown{
  /* display:flex;
  flex-direction:row;
  justify-content:space-between; */
  background:red;/* $PageBackground; */
  /* width:57.9rem; */
  }
.formElements__dropdowns_R__magR{
  margin-right:5.3rem;
}

